@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>Please Contact us for further enquiries</h4>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Hollywood, <br />
    Manoj, MA 9111-1111<br />
    <abbr title="Phone">P:</abbr>
    132.654.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:manojmuppavarapu@gmail.com">manojmuppavarapu@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>